---
import Layout from "../../layouts/Layout.astro"
import Title from "../../components/Title.astro"
import data from "../../data/data.json"






export async function getStaticPaths() {
    return data.destinations.map((d)=>{
   
        return{
            params:{slug: d.name.toLowerCase()},
            props:{post: d}
        }
    })
}


// console.log(Astro.props);
const {name,images,description,distance,travel} = Astro.props.post

let title = `Space Travel | ${name}`;
let Metadescription = "Space Travel Project";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---
<Layout title={title} description={Metadescription} current="destination" permalink={permalink} {canonicalURL}>
    <main id="main-content" aria-label="main">
        <Title number="01" title="pick your destination"/>
        {data.destinations.map((destination)=>{
            return (
                <a href=`/destination/${destination.name.toLowerCase()}`>
                    {destination.name}
                </a>
            )
        })}
        <h1>{name}</h1>
        <img src={images.webp.substring(1)} alt={name}/>
    </main>
</Layout>
