---
import Layout from "../../layouts/Layout.astro"
import data from "../../data/data.json"

let title = "Space Travel | Destination";
let Metadescription = "Space Travel Project";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;




export async function getStaticPaths() {
    return data.destinations.map((d)=>{
   
        return{
            params:{slug: d.name.toLowerCase()},
            props:{post: d}
        }
    })
}


// console.log(Astro.props);
const {name,images,description,distance,travel} = Astro.props.post



---
<Layout title={title} description={Metadescription} permalink={permalink} {canonicalURL}>
    {data.destinations.map((destination)=>{
        return (
            <a href=`/destination/${destination.name.toLowerCase()}`>
                {destination.name}
            </a>
        )
    })}
	<h1>{name}</h1>
    <img src={images.webp.substring(1)} alt={name}/>
</Layout>
