---
import Layout from "../../layouts/Layout.astro"
import data from "../../data/data.json"





export async function getStaticPaths() {
    return data.technology.map((d)=>{
   
        return{
            params:{slug: d.name.toLowerCase().split(" ").join("-")},
            props:{post: d}
        }
    })
}


console.log(Astro.props);
const {name,images,description,distance,travel} = Astro.props.post

let title = `Space Travel | ${name}`;
let Metadescription = "Space Travel Project";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;




---
<Layout title={title} description={Metadescription} permalink={permalink} {canonicalURL}>
    {data.technology.map((tech)=>{
        return (
            <a href=`/technology/${tech.name.toLowerCase().split(" ").join("-")}`>
                {tech.name}
            </a>
        )
    })}
	<h1>{name}</h1>
    <img src={images.portrait.substring(1)} alt={name}/>
</Layout>
