---
import Layout from "../../layouts/Layout.astro"
import data from "../../data/data.json"





export async function getStaticPaths() {
    return data.crew.map((d)=>{
   
        return{
            params:{slug: d.name.toLowerCase().split(" ").join("-")},
            props:{post: d}
        }
    })
}


// console.log(Astro.props);
const {name,images,description,distance,travel} = Astro.props.post

let title = `Space Travel | ${name}`;
let Metadescription = "Space Travel Project";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;




---
<Layout title={title} description={Metadescription} current="crew" permalink={permalink} {canonicalURL}>
    {data.crew.map((member)=>{
        return (
            <a href=`/crew/${member.name.toLowerCase().split(" ").join("-")}`>
                {member.name}
            </a>
        )
    })}
	<h1>{name}</h1>
    <img src={images.webp.substring(1)} alt={name}/>
</Layout>
