---
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/Navbar.astro';



export interface Props {
  title: string;
  description: string;
  permalink?: string;
  current?: string;
  canonicalURL?:string | URL;

}
const { title, description, permalink, current,canonicalURL } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description}  canonicalURL={canonicalURL} permalink={permalink} />
    
  </head>




  <body class={current}>
    <a class="skip-to-content" href="#main-content">Skip to content</a>
    <Navbar current={current}/>

  
      <slot/>
 

  </body>
</html>